@model List<GioHangItem>
@{
    ViewBag.Title = "TaoTrangDatHang";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    input[type=text], select {
        width: 100%;
        background: white;
        color: black;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=number], select {
        width: 100%;
        color: black;
        background: white;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #2a9fd6;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #4CAF50;
        }
</style>


<div class="container">
    <div class="row">
        <section class="col-lg- col-md- col-sm-12 col-xs-12 main-column">
            <div id="content">

                <form action="" method="post" accept-charset="utf-9">
                    <div class="row">
                        <div class="col-sm-4">

                            <h3>Thông tin giao hàng</h3>


                            @using (Html.BeginForm("TaoTrangDatHang", "GioHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {


                                <table style="width:90%; text-align:left; background:white; color:black;">
                                    <tr>
                                        <td>Họ Tên Khách Hàng</td>
                                        <td> <input style="width:300px; float:left; height:35px " type="text" name="HoTenKH" required /></td>
                                        <td rowspan="13"></td>
                                    </tr>
                                    <tr>
                                        <td>Số Điện Thoại</td>
                                        <td> <input style="width:300px; float:left; height:35px " type="text" name="SoDT" required /></td>
                                        <td rowspan="13"></td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td> <input style="width:300px; float:left; height:35px " type="text" name="Email" required /></td>
                                        <td rowspan="13"></td>
                                    </tr>
                                    <tr>
                                        <td>Địa Chỉ</td>
                                        <td> <input style="width:300px; float:left; height:35px " type="text" name="DiaChiNhanHang" required /></td>
                                        <td rowspan="13"></td>
                                    </tr>
                                    <tr>
                                        <td>Tỉnh/Thành Phố</td>
                                        <td> <input style="width:300px; float:left; height:35px " type="text" name="TinhThanh" required /></td>
                                        <td rowspan="13"></td>
                                    </tr>
                                    <tr>
                                        <td>Quận/Huyện</td>
                                        <td> <input style="width:300px; float:left; height:35px " type="text" name="QuanHuyen" required /></td>
                                        <td rowspan="13"></td>
                                    </tr>
                                    <tr>
                                        <td>Ghi Chú</td>
                                        <td> <input style="width:300px; float:left; height:35px " type="text" name="GhiChu" required /></td>
                                        <td rowspan="13"></td>
                                    </tr>
                                    <tr>
                                        <td>Phương Thức Thanh Toán</td>
                                        <td>@Html.DropDownList("MaPTTT", null, new { @style = "float:left; width:300px;" })</td>
                                    </tr>

                                </table>
                            }
                        </div>

                        <div class="col-sm-4">
                            <div class="box productcarousel">
                                <div class="box-heading"><h3 style="text-align:center">Phương thức thanh toán</h3></div>
                                <div class="box-content">
                                    <div class="form-group">
                                        <div id="section-payment-method" class="section">
                                            <div class="section-content">
                                                <div class="content-box">
                                                    <div class="radio-wrapper content-box-row" onclick="$('#banking-info').addClass('hidden');$('#cod-info').removeClass('hidden')">
                                                        <label class="radio-label">

                                                            <span style="color:#ff0000" class="radio-label-primary"><i class="fa fa-check" style="color:dodgerblue" aria-hidden="true"></i>Thanh toán khi giao hàng (COD)</span>
                                                        </label>
                                                    </div>
                                                    <div id="cod-info" class="radio-wrapper content-box-row content-box-row-secondary">
                                                        <div style="text-align:justify" class="blank-slate">
                                                            - Với hóa đơn trên 300,000 và nơi nhận hàng dưới 10km thì shop sẽ free ship.
                                                            - Khu vực ngoại thành, shop sẽ tính thêm tiền ship hoặc giao hàng bên dịch vụ.
                                                            - Khu vực ở tỉnh shop không hỗ trợ phí ship, khách hàng tự thanh toán phí, phí ship phụ thuộc vào nhà xe hoặc dịch vụ.
                                                        </div>
                                                    </div>
                                                    <div class="radio-wrapper content-box-row" onclick="$('#banking-info').removeClass('hidden');$('#cod-info').addClass('hidden')">
                                                        <label class="radio-label">

                                                            <span style="color:#ff0000" class="radio-label-primary"><i class="fa fa-check" style="color:dodgerblue" aria-hidden="true"></i>Chuyển khoản qua ngân hàng</span>
                                                        </label>
                                                    </div>
                                                    <div id="banking-info" class="radio-wrapper content-box-row content-box-row-secondary hidden">
                                                        <div style="text-align:justify" class="blank-slate">
                                                            * Tên Tài Khoản: Đặng Thanh Thư
                                                            * Vietcombank: 0251 0027 39028 - Chi nhánh Bình Tây
                                                            * Vietinbank: 106004592085 - Chi nhánh Trảng Bàng
                                                            * BIDV: 3681 00000 49881 - Chi nhánh Cộng Hòa
                                                            * Argibank: 1606 2058 06984 - Chi nhánh An Phú
                                                            * Sacombank: 0600 3758 0492 - Chi nhánh Q11
                                                            * ACB: 1829 20599 - Chi nhánh Q10
                                                            => Xin lưu ý: Khách hàng chuyển khoản vui lòng liên hệ 0915.49.2828 để xác nhận
                                                        </div>
                                                    </div>
                                                    <div class="radio-wrapper content-box-row" onclick="$('#banking-info').removeClass('hidden');$('#cod-info').addClass('hidden')">
                                                        <label class="radio-label">

                                                            <span style="color:#ff0000" class="radio-label-primary"><i class="fa fa-check" style="color:dodgerblue" aria-hidden="true"></i>Chuyển khoản qua PayPal</span>
                                                        </label>
                                                        <div class="col-lg- col-md- col-sm-12 col-xs-12 main-column">
                                                            <div class="row">
                                                                <div style="text-align:right" class="col-sm-12">
                                                                    <button type="submit" style="background-color:#0026ff;" <a href="http://localhost:57835/paypal/PaymentWithPaypal" class="btn btn-success" name="btn_ThemSanPham">Thanh Toán PayPal</a></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h3>Đơn hàng của bạn</h3>
                            <div class="panel panel-default">
                                <table class="table table-hover">
                                    
                                    @foreach (var item in ViewBag.GioHang)
                                        {
                                        <tr>
                                            <td>Tên sản phẩm:</td><td>@item.TenSanPham</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Số lượng:</td><td class="center">@item.SoLuong</td>
                                        </tr>
                                        <tr>
                                            <td>Đơn giá:</td><td>@item.DonGia.ToString("#,##0").Replace(',', '.') VNĐ</td>
                                        </tr>
                                        <tr>
                                            <td>Thành tiền:</td><td>@item.ThanhTien.ToString("#,##0").Replace(',', '.') VNĐ </td>
                                        </tr>
                                                
                                        }
                                        <tr>
                                            <td colspan="5" class="row-tong">Tổng cộng: <span>@Model.Sum(m => m.ThanhTien).ToString("#,##0").Replace(',', '.') VNĐ</span></td>
                                        </tr>

                                </table>
                            </div>
                            <div id="content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div style="background-color:#f5f5f5" class="panel-footer clearfix">
                                            <a href="http://localhost:57835/paypal/PaymentWithPaypal" class="btn btn-success"><i class="fa fa-arrow-left" aria-hidden="true"></i>Quay lại giỏ hàng </a>

                                            <a href="http://localhost:57835/GioHang/IndexDatHang" style="background-color:#fd7e14;color:#ffffff" class="btn btn-info pull-right">Đặt hàng<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>


